body {
    background: #000;
    color: #fff;
    font-family: Tahoma, sans-serif;
}

.homm-table {
    margin: 20px auto;      
    width: 800px;
    background: #1c3664;
    border: 4px solid #ad964d;
    
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    color: #e8dcb5;         
    border-bottom: 2px solid #ad964d;
}

tr:hover {
    background: #26457d;    
    cursor: pointer;
}


.title-col { 
    text-align: left; 
    font-weight: bold; 
}

.map-size { 
    color: #ffd700; 
    font-weight: bold; 
}

/* карта */
.map-table {
  border-collapse: collapse;
  margin: 20px 0;
}
.map-table td {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.none {
    display: none;
}

.map-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-size {
    width: 70px;
    height: 70px;
}

.border {
    border: 1px solid yellow;
    opacity: 0.5;
}