body {
    background: 	#161511;
    color: #fff;
    font-family: Tahoma, sans-serif;
}

/* карта */
.map-table {
  border-collapse: collapse;
  margin: 20px 0;
}
.map-table td {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.none {
    display: none;
}

.map-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row-reverse;
    gap: 20px;
}

.img-size {
    width: 40px;
    height: 40px;
}

.border {
    border: 1px solid yellow;
    opacity: 0.5;
}

.title-create-map {
    text-align: center;
    font-size: 40px;
}

.controls {
    margin-bottom: auto;
    position: sticky;
    top: 20px;       
    height: max-content;
    width: 30%;
}

.controls input, button, select {
    margin: 5px;
    padding: 6px 12px;
    border-radius: 4px;   /* Слегка закругленные углы */
    border: 1px solid #666; 
    background: #333;      /* Темный фон */
    color: white;          /* Белый текст */
    font-size: 14px;
    cursor: pointer;
    margin: 2px;
}

.controls button:hover, .poly-btn:hover, select:hover {
    background: #444;
    border-color: #888;
}

#fileLoad {
    display: none;
}

.file-label {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #666;
    background: #333;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin: 2px;
    vertical-align: middle; 
}

.file-label:hover {
    background: #444;
    border-color: #888;
}
/* начальное меню */

.main-menu, .single-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/template/default/img/menu.png);
    background-repeat: no-repeat;
    background-size:100%;
    height: 700px;
    width: 900px;
    box-sizing: border-box;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: flex-end;
    padding-right: 30px;
    margin-top: 40px;
}

.links a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.links a:hover {
    color: aquamarine;
}

/* Создатели */

.creators {
    text-align: center;
}

.creators-Title {
    font-size: 60px;
    color: #fff;
    text-align: center;
}

.creators-name {
    text-align: center;
    font-size: 40px;
    color: #E94E77;
}

.git-link {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    transition: 0.5s;
}

.git-link:hover {
    color: aquamarine;
}