body {
    background: #000;
    color: #fff;
    font-family: Tahoma, sans-serif;
}

/* карта */
.map-table {
  border-collapse: collapse;
  margin: 20px 0;
}
.map-table td {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.none {
    display: none;
}

.map-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-size {
    width: 70px;
    height: 70px;
}

.border {
    border: 1px solid yellow;
    opacity: 0.5;
}